<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/css/master.css" type="text/css" />
		<link rel="stylesheet" href="/css/syntax.css" type="text/css" />
		<!-- <link href="http://feeds.feedburner.com/UnderTheHat-10to1" rel="alternate" title="Under the Hat - A weblog written by 10to1" type="application/atom+xml" /> -->
		
				
	</head>
	<body>
		<div id="wrapper">
			<h1>42</h1>
			<hr />
			<div id="content">
				{% if page.site_filter %}
					{% if page.site_filter == 'Seba' or page.site_filter == 'Gustavo'  %}
						<p id="filter">All posts by <a href="/author/{{page.site_filter | downcase }}">{{page.site_filter}}</a></p>
					{% else %}
					<p id="filter">Category: <a href="/{{page.site_filter | downcase }}">{{page.site_filter}}</a></p>
					{% endif %}
				{% endif %}
				{{ content }}
				{% if page.site_filter == null and paginator.total_pages > 1 %}
				<ul id="paging">
					{% if paginator.next_page %}
					<li id="count">Page <strong>{{ paginator.next_page | minus:1 }}</strong> of <strong>{{ paginator.total_pages }}</strong></li>
					{% else %}
					<li id="count">Page <strong>{{ paginator.total_pages }}</strong> of <strong>{{ paginator.total_pages }}</strong></li>
					{% endif %}
					{% if paginator.previous_page %}
					<li id="newest"><a href="/" title="Go to newest articles">Newest articles</a></li>
						{% if paginator.previous_page > 1 %}
						<li id="newer"><a href="/page{{ paginator.previous_page }}" title="Go to newer articles">Newer articles</a></li>
						{% else %}
						<li id="newer"><a href="/" title="Go to newer articles">Newer articles</a></li>
						{% endif %}
					{% else %}
					<li id="newest"><a class="disabled" title="Go to newest articles">Newest articles</a></li>
					<li id="newer"><a class="disabled" title="Go to newer articles">Newer articles</a></li>
					{% endif %}
					{% if paginator.next_page %}
					<li id="oldest"><a href="/page{{ paginator.total_pages }}" title="Go to oldest articles">Oldest articles</a></li>
					<li id="older"><a href="/page{{ paginator.next_page }}" title="Go to older articles">Older articles</a></li>
					{% else %}
					<li id="oldest"><a class="disabled" title="Go to oldest articles">Oldest articles</a></li>
					<li id="older"><a class="disabled" title="Go to older articles">Older articles</a></li>
					{% endif %}
				</ul>
				{% endif %}
			</div>
			<hr />
			<div id="sec-content">
				<a href="/"><img id="logo" src="/img/logo.png" alt="42 logo" /></a>
				<div class="node" id="about">
					<h2>About this blog</h2>
					<p>You’re reading <strong>42</strong>, a DevBlog written by <a href="http://socialmetrix.com">Socialmetrix</a>.</p>
				</div>
				<div class="node" id="rss">
					<h2>Subscribe</h2>
					<ul>
						<li><a href="http://feeds.feedburner.com/socialmetrix" class='rss'>Subscribe to our RSS-feed</a></li>
						<li><a href='http://twitter.com/socialmetrix'>Follow us on Twitter</a></li>
						<li><a href='http://facebook.com/sociametrix'>Follow us on Facebook</a></li>
					</ul>
				</div>
				<div class="node" id="who">
					<h2>Who’s writting 42?</h2>
					<ul>
						<li>
							<strong>Gustavo Arjones</strong>
							<em>CTO</em>
							<a href="/author/arjones">Posts written by Gustavo</a>
							<img src="/img/arjones.png" alt="Picture of Gustavo" />
						</li>
						<li>
							<strong>Sebastian Montini</strong>
							<em>Cloud Engineer</em>
							<a href="/author/seba">Posts written by Seba</a>
							<img src="/img/seba.png" alt="Picture of Seba" />
						</li>
					</ul>
				</div>
				<div class="node" id="products">
					<h2>Our products</h2>
					<ul>
						<li id="Echo"><a href="http://socialmetrix.com/en/products/socialmetrix-echo/"><strong>Echo</strong> Customizable Social Media Analytics</a></li>
						<li id="Eventia"><a href="http://socialmetrix.com/en/products/socialmetrix-eventia/"><strong>Eventia</strong> Real Time Online Event Monitoring</a></li>
					</ul>
				</div>
				<div class="node" id="categories">
					<h2>Categories</h2>
					<ul>
						<li><a href="/general">General <small>{{ site.categories.general | size }}</small></a></li>
						<li><a href="/team">Team <small>{{ site.categories.team | size }}</small></a></li>
						<li><a href="/monitoring">Monitoring <small>{{ site.categories.monitoring | size }}</small></a></li>
					</ul>
				</div>
			</div>
		</div>
		
		
	</body>
</html>
